* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

li,ul {
  list-style: none;
  padding: 0;
}

h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
}

.register--wrap{
  text-align: center;  
  animation:mymove 8s infinite; /*animation 時間 播放次數*/  
  animation-direction:alternate; /*是否循環交替反向播放動畫*/ 
  /*Safari 和 Chrome:*/
  -webkit-animation:mymove 5s infinite;
  background-repeat: no-repeat;
  background-position: bottom 0px right 10%;
  overflow: visible;
  padding-bottom: 10px;
}

@keyframes mymove {
  0% {opacity: 0.5;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes mymove
{
  0% {background-image:url(../../../public/KOMORU_2.png)}    
  25% {background-image:url(../../../public/KOMORU_1.png)}  
  75% {background-image:url(../../../public/KOMORU_2.png)}  
  100% {background-image:url(../../../public/KOMORU_3.png)}  
}  

/*Safari 和 Chrome:*/
@-webkit-keyframes mymove
{
  0% {background-image:url(../../../public/KOMORU_2.png)}    
  25% {background-image:url(../../../public/KOMORU_1.png)}  
  75% {background-image:url(../../../public/KOMORU_2.png)}  
  100% {background-image:url(../../../public/KOMORU_3.png)}  
}


.signIn--container {
  margin: 0 auto;
  max-width: 976px;
  display: flex;
  justify-content: center;
}

/* 上面為全域設定 */

.signIn {
  text-align: start;
}

.signIn--title {
  color:#454545;
  text-align: start;
  padding-top: 40px;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.01em;
}

.signIn--item {
  /* display: flex; */
  text-align: end;
  padding-bottom: 20px;
}

.signIn--input--XL {
  text-align: left;
  padding: 12px;
  font-size: 20px;
  width: 100%;
}

.signIn--input--L {
  padding: 12px;
  font-size: 20px;
  width: 500px;
}

.signIn--input--M {
  padding: 12px;
  font-size: 20px;
  width: 48%;
}

.signIn--label {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-right: 30px;
}

.signIn--submit{
  width: 100%;
  font-size: 18px;
  padding:15px;
  background: #ED8C4E;
  color: #fff;
  border: none;
}

.signIn--submit:hover{
  background: #CF5100;
}

.signIn--submitFin{
  font-size: 18px;
  float:right;
  padding:15px;
  background: #9d2933;
  color: #fff;
  border: none;
}

hr {
  padding: 20px;
  border: none;
}

.mr-16 {
  margin-right: 16px;
}

.errMsg{
  color: #CF5100;
  /* #9d2933; */
  font-size: 0.7rem;
  text-align: right;
}