.OrderList a {
  display: block;
  text-decoration: none;

}

.OrderList a:hover {
  text-decoration: none;
}

.OrderList {
  display: flex;
  padding: 100px 0;
  width: 100%;
}

.OrderList--menu {
  width: 20%;
  line-height: 2;
  font-weight: bold;
  border-left: 1px solid #D9D9D9;
}

.OrderList--card--none {
  padding: 50px 40px;
  /* text-align: center; */
  width: 80%;
  min-height: 500px;
  font-family: 'Poppins';
  /* font-size: 40px; */
  letter-spacing: 0.01em;
  color: #333333;
  background: #fff;
}

.OrderList--card {
  padding: 50px 40px;
  width: 80%;
  min-height: 500px;
  font-family: 'Poppins';
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #333333;
  background: #fff;
}

.OrderList--card--none section {
  padding: 200px 80px;
  background: #F4F5F7;
}


@media (max-width:768px) {

  .OrderList--card,
  .OrderList--card--none {
    flex-direction: column;
    width: 100%;
  }

  .OrderList--menu {
    display: none;
  }
}

.acco-header {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}