
.Coupon a{
  display: block;
  text-decoration: none;

}

.Coupon a:hover{
  text-decoration: none;
}

.Coupon {
  display: flex;
  padding: 100px 0;
}

.Coupon--menu {
  width: 20%;
  line-height: 2;
  font-weight: bold;
  border-left:1px solid #D9D9D9 ;
}


.Coupon--card {
  text-align: center;
  width: 100%;
  min-height: 500px;
  background: #F4F5F7;
  font-family: 'Poppins';
  color: #333333;
}

.coupon--item{
  text-align: left;
  /* background: #fff; */
  padding: 50px 50px;
}

@media (max-width:768px) {
  .Coupon--card {
    width: 100%;
  }

  .Coupon--menu {
    display: none;
  }
}

.nav-tabs .nav-link {
  border-radius: 0;
  background: #fff;
  color: #808080;
  border-bottom: 1px solid #ED8C4E;

}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border: none;
  color: #fff;
  background: #ED8C4E;
}
