/* .labeled {
  padding: 0;
}
.labeled label {
  display: inline-block;
  padding: 8px;
  background-color: rgba(0, 200, 0, 0.3);
}
td {
  padding: 8px;
  background-color: #ddd;
  border: 1px solid #898989;
} */
