.activityChoice {
  display: flex;
  line-height: 10px;
  font-size: 20px;
}

.activityChoice .dateFST {
  margin-top: 5px;
  margin-left: -40px;
  margin-right: -5px;
  letter-spacing: 2px;
}

.activityChoice input[type="radio"] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  margin-left: 56px;
  bottom: 10px;
  border: 1px solid black;
  position: relative;
}

.activityChoice input[type="radio"]:checked {
  background: url("../booking/whiteSelect.png");
  background-size: cover;
  background-color: #ed8c4e;
}

.rdobutton_radio {
  margin: 10px;
}

.adjustActive {
  cursor: pointer;
  font-size: 20px;
  margin-top: 6px;
  position: absolute;
  margin-left: -5px;
}
