* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

li,ul {
  list-style: none;
  padding: 0;
}

h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
}


.container {
  margin: 0 auto;
  max-width: 976px;
}

/* 上面為全域設定 */

a{
  display: block;
  text-decoration: none;
}

.navbar{
  background: #ED8C4E;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.navbar--title{
  color: #000;
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar--title:hover{
  text-decoration: none;
  color: #fff;
}

.navbar--menu{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar--item{
  color: #fff;
  text-decoration: none;
  padding: 15px;
  font-size:1.5rem;
}

.navbar--item:hover{
  text-decoration: none;
  color: #fff;
}

.navbar--logo{
  width: 60%;
}